

#projek{
    padding-top: 8rem ;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #b893f3a4;
}
section{
    padding-top: 6rem;
}

.card{
    border-radius: 15px; 
}